.message{
    padding: 5px;
    margin: 2px;
    width: fit-content;
    border-radius: 10px;
    max-width: 80%;
    
}

.message__user{
    margin-left: auto;
    color:white;
      text-align: right !important;   
}

  .message__userCard{
    background-color: blue !important;
    
}


.message__guestCard{
    background-color: white !important;
  
}